@import 'variables.scss';
@import 'fonts.scss';
// https://coolors.co/394648-69995d-cbac88-edb6a3-f8e9e9
// https://coolors.co/0c1618-004643-faf4d3-d1ac00-f6be9a
#app {
  font-family: Source Sans Pro Light;
  font-size: 1.2rem;
  color: $textBlack;
  width: 100% !important;
  h1, h2 {
    font-family: Source Sans Pro Bold;
    color: $textWhite;
  }
  #header {
    background: $blueDark;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1 {
      font-size: 10vw;
      line-height: 9vw;
      padding-bottom: 2vw;
      text-align: center;
    }
    h2 {
      font-size: 2vw;
      color: $green;
      padding-bottom: 2vw;
      font-style: italic;
      text-decoration: underline;
    }
    .btn {
      background-color: $orange;
      color: $textWhite;
      border-radius: 60px;
    }
  }
}