<template>
  <div id="header">
    <h1>Pierre<br> Heraud</h1>
    <h2>{{ $t('header.webDeveloper')}}</h2>
    <a
      class="btn"
      href="#navbar"
    >
      Découvre mon univers
    </a>
  </div>
</template>

<script>
export default {
  name: "Header",
};
</script>
