<template>
  <div id="app">
    <Header />
    <router-view />
  </div>
</template>

<script>
import Header from "@/components/Header.vue";

export default {
  components: {
    Header,
  },
  created() {
    localStorage.setItem("lang", "fr");
  }
};
</script>

<style lang="scss">
@import "./assets/scss/app.scss";
</style>
